[run]
omit =
  # exclude test coverage of virtual environment modules
  */env/*

  # exclude test coverage of database migrations
  */migrations/*

  # exclude test coverage of test classes
  */tests/*

[html]
directory = coverage_reports
