[run]
omit =
  # exclude test coverage of virtual environment modules
  */venv/*

  # exclude test coverage of database migrations
  */migrations/*

  # exclude test coverage of test classes
  */tests/*

  # exclude init
  */__init__.py

[html]
directory = coverage_reports
