#page-container{
    position: relative;
    min-height: 100vh;
}
.site-header{
    text-align: center;
}
#drink-responsibly{
    text-align: center;
    display: inline-block;
    margin-right: 75px;
}