input[type="text"],
select.form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #000000;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
}

input[type="text"]:focus,
select.form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}


.assistant_button_wrapper {
    text-align: center;
}

.circleBase {
    cursor: pointer;
    box-shadow: 5px 10px #888888;
    display: inline-block;
    border-radius: 50%;
    behavior: url(PIE.htc); /* for IE8 compatability */
    margin-top: 10%;
}

.assistant_button {
    cursor: pointer;
    width: 200px;
    height: 200px;
    background: #f8f9fa;
    border: 3px solid #bebebe;
}

.mic_icon {
    margin: auto;
    padding: 10px;
    margin: 50px;
    width: 80px;
    height: 88px;
}

.listen {
    padding: 15px;
    display: block;
}

