{% extends 'gnt/base.html' %}
{% block 'content' %}
{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/about.css' %}" />

<div class="container-fluid">
  <div class="row content">
    <section class="about-section">
      <div class="col-md-12">
        <h2 class="text-light">About Bartensor</h2>
        <!-- <hr> -->
        <p class="text-light"><span class="first-letter">W</span>elcome to Bartensor. <br />
          This website is a capstone project made by four students at The Ohio State University.
          Bartensor uses IBM Watson's services to become your perfect bartender assistant.
          Whether you're hosting an affair, or drinking alone, ask and you shall receive drink recommendations, recipes, and tantalizing chit-chat with our intelligent and suave bartender.
          <br />
          <br />
          Bartensor can help you with simple tasks such as finding a recipe for a specific drink.
          It can also find drinks you can make given a list of ingrediants.
          We've also analyzed the flavor profile of drinks, so that you can filter to your picky heart's desire.
          By signing up for a Bartensor account, you gain the ability to like and dislike drinks, which influences Bartensor's recommendations for you.
          <br />
          <br />
        </p>
      </div>
    </section>
    <section class="our-team padding-md">
      <div class="container">
        <h2 class="text-light">Our Team</h2>
        <ul class="row">
          <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 330px;">
              <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
              <h3><a href="https://youtu.be/dQw4w9WgXcQ">Jack Dahms</a></h3>
              <p>The Pollinator</p>
              <ul class="follow-us clearfix">
                <li><a href="https://github.com/jackdahms"><i class="fa fa-github" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </li>
          <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 330px;">
              <figure><img src="http://www.webcoderskull.com/img/team1.png" class="img-responsive" alt=""></figure>
              <h3><a href="#">Michael Huang</a></h3>
              <p>The Chancellor</p>
              <ul class="follow-us clearfix">
                <li><a href="https://github.com/huang2721"><i class="fa fa-github" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </li>
          <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 330px;">
              <figure><img src="http://www.webcoderskull.com/img/team4.png" class="img-responsive" alt=""></figure>
              <h3>Eric Thomas</h3>
              <p>The Lubricator</p>
              <ul class="follow-us clearfix">
                <li><a href="https://github.com/Eric-Thomas"><i class="fa fa-github" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </li>
          <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 330px;">
              <figure><img src="http://www.webcoderskull.com/img/team2.png" class="img-responsive" alt=""></figure>
              <h3>Jimmy Wallace</h3>
              <p>The Circumnavigator</p>
              <ul class="follow-us clearfix">
                <li><a href="https://github.com/jwallace317"><i class="fa fa-github" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </li>
          <li class="col-12 col-md-6 col-lg-3">
            <div class="cnt-block equal-hight" style="height: 330px;">
              <figure><img src="http://www.webcoderskull.com/img/team2.png" class="img-responsive" alt=""></figure>
              <h3>Caleb Woy</h3>
              <p>The Interpolator</p>
              <ul class="follow-us clearfix">
                <li><a href="https://github.com/calebcodesgud"><i class="fa fa-github" aria-hidden="true"></i></a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </section>

  </div>
</div>

{% endblock 'content' %}