{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title>Bartensor</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />

  <link rel="stylesheet" type="text/css" href="../../static/stylesheets/assistant-button.css" />
  <link rel="stylesheet" type="text/css" href="../../static/stylesheets/loading-screen.css" />
  <link rel="stylesheet" type="text/css" href="../../static/stylesheets/results.css" />

  <script src="../../static/jquery-3.4.1.min.js"></script>
</head>

    <link
      rel="stylesheet"
      type="text/css"
      href="../../static/stylesheets/assistant-button.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../static/stylesheets/loading-screen.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="../../static/stylesheets/results.css"
    />
    <link
    rel="stylesheet"
    type="text/css"
    href="../../static/stylesheets/base.css"
  />
    <script src="../../static/jquery-3.4.1.min.js"></script>
  </head>
  <body >
    <div id= "page-container">
    {% block 'header' %}
    <header
      class="navbar navbar-expand navbar-light bg-light flex-column flex-md-row bd-navbar"
    >
      <a
        class="navbar-brand mr-0 mr-md-2"
        href="{% url 'gnt:index' %}"
        aria-label="Bartensor"
        ><h2>Bartensor</h2></a
      >
      <div class="navbar-nav-scroll w-100">
        <ul class="navbar-brand navbar-nav bd-navbar-nav flex-row float-right">
          {% if logged_in %}
          <li class="nav-item border rounded px-1 mr-3 bg-white">
            <a class="nav-link" href="{% url 'gnt:logout' %}">Log Out</a>
          </li>
          <li class="nav-item px-1 mr-3 bg-white">
            <img
              class="rounded"
              style="height:50px"
              src="{% static 'profile.jpg' %}"
              alt="My Profile"
            />
          </li>
          {% else %}
          <li class="nav-item border rounded px-1 mr-3 bg-white">
            <a class="nav-link" href="{% url 'gnt:signup' %}">Sign Up</a>
          </li>
          <li class="nav-item border rounded px-1 bg-white">
            <a class="nav-link" href="{% url 'gnt:login' %}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </header>
    {% endblock %} {% block 'content' %} {% endblock %}
    <div id= "footer">
      <p class="text-center">Please drink responsibly</p>
    </div>
  </div>
    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <div id = "myModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Welcome to Gin & Tensor</h5>
          </div>
          <div class="modal-body">
            Are you at least 21?
          </div>
          <div class="modal-footer d-flex justify-content-around">
            <div class = "col">
              <button type="button" class="btn btn-outline-secondary btn-block" data-toggle="collapse" data-target="#not21" aria-expanded="false" aria-controls="not21">No</button>
            </div>
            <div class = "col">
              <button id = "is21" type="button" class="btn btn-outline-success btn-block">Yes</button>
            </div>
            <p class = "collapse" id= "not21">Sorry, you are not old enough to use Gin & Tensor</p>
          </div>
        </div>
      </div>
    </div>
    <script>
      $(document).ready(function () {
          //if cookie hasn't been set...
          if (document.cookie.indexOf("ModalShown=true")<0) {
              $("#myModal").modal('show');
              $("#is21").click(function () {
                  $("#myModal").modal("hide");
                  document.cookie = "ModalShown=true; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/";
              });  
          }
      });
    </script>
  
  </body>
</html>
