{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required Meta Tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}" />

  <!-- Main Website CSS -->
  <link rel="stylesheet" type="text/css" href="{% static 'stylesheets/custom.css' %}" />

  <!-- Navbar Searchbar CSS -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
    integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous" />

  <!-- Bootstrap CSS -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css" />

  <!-- Jquery and Bootstrap -->
  <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>

  <title>Bartensor</title>
</head>

<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <a class="navbar-brand mr-4" href="{% url 'home' %}">Bartensor</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
        aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="{% url 'timeline_pop' %}">Proposals</a>
        </div>
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="{% url 'about' %}">About</a>
        </div>

        <!-- Navbar Searchbar -->
        <div class="container h-100">
          <div class="d-flex justify-content-center h-100">
            <form action="{% url 'search' %}" method="POST">
              {% csrf_token %}
              <div class="searchbar">
                <input class="search_input" type="text" name="search_input" placeholder="Friend search..." />
                <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
              </div>
            </form>
          </div>
        </div>

        <!-- Navbar Right Side -->
        <div class="navbar-nav">
          {% if user.is_authenticated %}
          <a class="nav-item nav-link" href="{% url 'profile_edit' username=user %}">
            <img class="rounded-circle account-header-img" src="{{ user.profile.image.url }}" />
          </a>

          <a class="nav-item nav-link" href="{% url 'timeline' username=user %}">{{ user.username }}</a>

          <a class="nav-item nav-link" href="#">
            <i class="fas fa-comment-dots fa-lg"></i>
          </a>
          <a class="nav-item nav-link" href="{% url 'notifications' username=user %}">
            <i class="fas fa-bell fa-lg"></i>
          </a>
          <div class="dropdown">
            <button class="btn btn-ellipsis" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-ellipsis-h fa-lg"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              <a class="dropdown-item" href="#">Settings</a>
            </div>
          </div>
          {% else %}
          <a class=" nav-item nav-link" href="{% url 'login' %}">Login</a>
          <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
          {% endif %}
        </div>
      </div>
    </nav>
  </header>
  <main role="main" class="container">
    <div class="row">
      <div class="col-lg-12">
        {% if messages %}
        {% for message in messages %}
        <div class=" alert alert-{{ message.tags }}">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        <div id="content_here">
          {% block 'content' %}
          {% endblock %}
        </div>
      </div>
    </div>
  </main>
  <div id="myModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            Welcome to Bartensor
          </h5>
        </div>
        <div class="modal-body">
          Are you at least 21?
        </div>
        <div class="modal-footer d-flex justify-content-around">
          <div class="col">
            <button type="button" class="btn btn-outline-secondary btn-block" data-toggle="collapse"
              data-target="#not21" aria-expanded="false" aria-controls="not21">
              No
            </button>
          </div>
          <div class="col">
            <input id="is21" type="submit" value="Yes" class="btn btn-outline-success btn-block">
          </div>
          <p class="collapse" id="not21">
            Sorry, you are not old enough to use Bartensor
          </p>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="{% static 'scripts/cookie.js' %}"></script>
  <script type="text/javascript" src="{% static 'scripts/constants.js' %}"></script>
  <script type="text/javascript" src="{% static 'scripts/hark.js' %}"></script>
  <script type="text/javascript" src="{% static 'scripts/like_dislike.js' %}"></script>
  <script type="text/javascript" src="{% static 'scripts/remove_like_dislike.js' %}"></script>
  <script type="text/javascript" src="{% static 'scripts/index.js' %}"></script>
  <script type="text/javascript" src="{% static 'scripts/dynamic_forms.js' %}"></script>

  <!-- Controls 21+ modal -->
  <!-- <script>
    $(document).ready(function () {
      //if cookie hasn't been set...
      if (document.cookie.indexOf(" ModalShown=true") < 0) {
        $("#myModal").modal("show");
        $("#is21").click(function () {
          $("#myModal").modal("hide");
          document.cookie = "ModalShown=true; expires=Fri, 31 Dec 9999 23:59:59 GMT; path=/";
        });
        document.querySelector("#myModal").addEventListener("keyup", event => {
          if (event.key !== "Enter") return;
          document.querySelector("#is21").click();
          event.preventDefault();
        });
      }

    });
  </script> -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

</body>

</html>