{% extends 'gnt/profile_base.html' %}

{% block profile_content %}
<div class="content-section">
  {% if user == profile %}
  {% if drinks %}
  <div class="content-section">
    Disliked Drinks
  </div>
  {% include 'gnt/disliked_drinks_with_remove.html' %}
  {% else %}
  <div class="content-section">
    <p>
      You haven't disliked any drinks yet!
      <a href="{% url 'home' %}">Search a drink</a>
      and dislike any drink you don't want to try.
      We'll save those drinks here!
    </p>
  </div>
  {% endif %}
  {% else %}
  {% if drinks %}
  <div class="content-section">
    Disliked Drinks
  </div>
  {% include 'gnt/disliked_drinks_with_remove.html' %}
  {% else %}
  <div class="content-section">
    <p>{{ profile }} has not disliked any drinks yet!</p>
  </div>
  {% endif %}
  {% endif %}
</div>
{% endblock profile_content %}