{% extends 'gnt/profile_base.html' %}
{% block profile_content %}
<div class="content-section">
  <div class="row">
    <div class="col-lg-12">
      <div class="article-title">
        <h1>Friends</h1>
      </div>
    </div>
  </div>
  {% for friend in friends %}
  <article class="media content-section">
    {% if friend.profile_FK != user.profile %}
    <img class="rounded-circle article-img" src="{{ friend.profile_FK.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ friend.profile_FK.user }}</a>
      </div>
      <h2><a class="article-title" href="{% url 'profile_public' username=friend.profile_FK.user %}">{{ friend.profile_FK.user }}</a></h2>
      <p class="article-content">{{ friend.profile_FK.bio }}</p>
    </div>
    {% else %}
    <img class="rounded-circle article-img" src="{{ friend.friend_FK.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ friend.friend_FK.user }}</a>
      </div>
      <h2><a class="article-title" href="{% url 'profile_public' username=friend.friend_FK.user %}">{{ friend.friend_FK.user }}</a></h2>
      <p class="article-content">{{ friend.friend_FK.bio }}</p>
    </div>
    {% endif %}
  </article>
  {% endfor %}
</div>
{% endblock profile_content %}