{% extends 'gnt/base.html' %}
{% block 'content' %}
{% load static %}
<div class="container" id="index-div">
  <div class="row mt-5">
    <div class="col text-center mt-5">
      <a class="assistant_button rounded-circle my-4">
        <img id="microphone" class="mic_icon" src="{% static 'images/mic.png' %}" alt="mic" />
      </a>
    </div>
  </div>
  <div class="row" id="wave">
    <div class="col text-center mt-5">
      <img src="{% static 'wave.gif' %}" alt="no wave... :(" width="25%" />
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <form class="col-12 form-group" action="{% url 'results' %}" method="post" id="index-search-form">
        {% csrf_token %}
        <ul class="nav nav-tabs nav-fill row search-tabs no-gutters">
          <li class="nav-item col-4 nav-link active search-nav-link">
            <input type="radio" id="what" name="question" value="what" class="d-none" checked>
            <span>What can I make with...</span>
          </li>
          <li class="nav-item col-4 nav-link search-nav-link">
            <input type="radio" id="how" name="question" value="how" class="d-none">
            <span>How do I make a...</span>
          </li>
          <li class="nav-item col-4 nav-link search-nav-link">
            <input type="radio" id="like" name="question" value="like" class="d-none">
            <span>Recommend me drinks like...</span>
          </li>
        </ul>
        <div class="input-group">
          <input type="text" class="form-control search-bar" id="search-bar" name="search_bar" placeholder="Search"
            aria-label="Search" aria-describedby="search-bar">
          <div class="input-group-append">
            <button id="main-search-button" class="btn btn-outline-primary" type="submit">
              <img class="search-icon" src="{% static 'images/search.png' %}" alt="Search" />
            </button>
          </div>
        </div>
      </form>
    </div>
    {% if user.is_authenticated %}
    <form class = "moonshot-row row justify-content-center align-self-center" action="{% url 'get_lucky' %}" method="post">
      {% csrf_token %}
      <input class="d-none" name="username" value="{{ user.username }}">
      <button id= "moonshot" class="glow-on-hover align-self-center" type="submit">I'm feeling lucky
      </button>
      <i class="far fa-question-circle" data-toggle="tooltip" data-placement="bottom" data-html="true" 
      title="Let <em>Bartensor</em> recommend you a drink! Using collaborative filtering, <em>Bartensor</em> will recommend you a drink based what other users with similar taste like">
      </i>
    </form>
    {% endif %}
  </div>
</div>

{% endblock 'content' %}