{% extends 'gnt/profile_base.html' %}

{% block profile_content %}
<div class="content-section">
  {% if user == profile %}
  {% if drinks %}
  <div class="content-section">
    Liked Drinks
  </div>
  {% include 'gnt/liked_drinks_with_remove.html' %}
  {% else %}
  <article class="content-section">
    <div>
      You haven't liked any drinks! <a href="{% url 'home' %}">Search a drink</a> and vote on any drinks you would like to try! We'll save it here for you later.
    </div>
  </article>
  {% endif %}
  {% else %}
  {% if drinks %}
  <div class="content-section">
    Liked Drinks
  </div>
  {% include 'gnt/liked_drinks_with_remove.html' %}
  {% else %}
  <article class="content-section">
    <div>
      {{ profile }} has not liked any drinks yet!
    </div>
  </article>
  {% endif %}
  {% endif %}
</div>
{% endblock profile_content %}