{% extends 'gnt/profile_base.html' %}
{% block profile_content %}
<div class="content-section">
    {% if user.is_authenticated %}
        {% if drinks %}
            <div class="container title">
                <h1>Liked Drinks</h1>
            </div>
            {% include 'gnt/liked_drinks_with_remove.html' %}
        {% endif %}
        {% if not drinks %}
            <div>
                You haven't Liked any drinks! Make a query and give feedback on anything you try! We'll save it for you for later.
            </div>
        {% endif %}
    {% endif %}
</div>
{% endblock profile_content %}