{% extends 'gnt/base.html' %} 
{% block 'content' %}

<script type="text/javascript">

    $(document).ready(function () {
        setTimeout(function redirect_to_results() {
                    var url = "http://localhost:8000/";
                    window.location.replace(url + "results");
                }, 8000);
    });

</script>

<div class="loading_gif_wrapper">
    <img class="duck_loading" src="../../static/duck.gif" alt="oof where dat duck boi at"/>
    <div>The duck will find your drinks . . . trust him</div>
</div>

{% endblock %}