{% extends 'gnt/base.html' %}

{% block 'content' %}
<div class="content-section">
  <div class="row">
    <div class="col-lg-12">
      <div class="article-title">
        <h1>Notifications Page</h1>
      </div>
    </div>
  </div>
  {% if requests %}
  {% for request in requests %}
  <div class="row">
    <div class="col-lg-12">
      <aritcle class="media content-section">
        <img class="rounded-circle article-img" src="{{ request.requestor.image.url }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'timeline' username=request.requestor.user %}">{{ request.requestor.user }}</a>
          </div>
          <p class="article-content">{{ request.requestor.bio }}</p>
          <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="requestor" value="{{ request.requestor.user }}" />
            <button class=" btn btn-outline-info" type="submit" name="add-friend">Add Friend</button>
            <button class="btn btn-outline-info" type="submit" name="deny-friend">Deny Friend</button>
          </form>
        </div>
      </aritcle>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <article class="content-section">
    <div>
      Notifications right now, check back later!
    </div>
  </article>
  {% endif %}
</div>
{% endblock 'content' %}