{% extends 'gnt/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="content-section">
        <div class="media">
          <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
          <div class="media-body">
            <h2 class="account-heading">{{ user.username }}</h2>
            <p class="text-secondary">{{ user.email }}</p>
          </div>
        </div>
        <p class="text-secondary">{{ user.profile.bio }}</p>
      </div>
      {% block profile_content %}
      {% endblock profile_content %}
    </div>
    <div class="col-lg-4">
      <div class="content-section">
        <h3>Profile Help</h3>
        <p class='text-muted'>View, edit, and create your profile here!
          <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a href="{% url 'profile_public' %}">Public View</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'profile_edit' %}">Edit Profile</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'profile_create_drink' %}">Create Drink</a></li>
            <li class="list-group-item list-group-item-light"><a href="#">Friends</a></li>
            <li class="list-group-item list-group-item-light"><a href="#">Flavor Profile</a></li>
            <li class="list-group-item list-group-item-light"><a href="#">Edit Flavor Profile</a></li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}