{% extends 'gnt/base.html' %}
{% load crispy_forms_tags %}

{% block 'content' %}
<div class="container">
  <div class="row" style="display: flex">
    <div class="col-md-9" style="display: inline-block">
      <div class="content-section">
        <div class="media">
          <img class="rounded-circle account-img" src="{{ profile.profile.image.url }}">
          <div class="media-body">
            <h2 class="account-heading">{{ profile.username }}</h2>
            <p class="text-secondary">{{ profile.email }}</p>
          </div>
        </div>
        <p class="text-secondary">{{ profile.profile.bio }}</p>
        {% if user != profile and not requests %}
        <form method="POST">
          {% csrf_token %}
          <button class="btn btn-outline-info" type="submit">Add Friend</button>
        </form>
        {% endif %}
      </div>

      {% block profile_content %}
      {% endblock profile_content %}

    </div>
    <div class="col-md-3" style="display: inline-block">
      <div class="content-section">
        <h3>Profile Help</h3>
        <p class='text-muted'>View, edit, and create your profile here!
          <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a href="{% url 'profile_public' username=user%}">Public View</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'liked_drinks' %}">Liked Drinks</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'disliked_drinks' %}">Disliked Drinks</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'profile_edit' %}">Edit Profile</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'profile_create_drink' %}">Create Drink</a></li>
            <li class="list-group-item list-group-item-light"><a href="{% url 'friends' username=user %}">Friends</a></li>
            <li class="list-group-item list-group-item-light"><a href="#">Flavor Profile</a></li>
            <li class="list-group-item list-group-item-light"><a href="#">Edit Flavor Profile</a></li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock 'content' %}