{% extends 'gnt/profile_base.html' %}
{% load crispy_forms_tags %}
{% block profile_content %}

<div class="content-section">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Create a Drink</legend>
      <legend>Drink Name & Description</legend>
      {{ create_user_drink_form | crispy }}
      <legend>Ingredients</legend>
      {{ ingredient_formset.management_form }}
      {% for ingredient_form in ingredient_formset %}
      <div class="row ingredient-form" style="padding-left:15px;">
        {{ ingredient_form | crispy }}
      </div>
      {% endfor %}
      <div class="row" style="padding-left:15px;">
        <button class="btn btn-outline-info" type="button" id="add_ingredient_form">Add Ingredient</button>
        <button class="btn btn-outline-info" type="button" id="remove_ingredient_form">Remove Ingredient</button>
      </div>
      <legend>Instructions</legend>
      {{ instruction_formset.management_form }}
      {% for instruction_form in instruction_formset %}
      <div class="row instruction-form" style="padding-left:15px;">
        {{ instruction_form | crispy }}
      </div>
      {% endfor %}
      <div class="row" style="padding-left:15px;">
        <button class="btn btn-outline-info" type="button" id="add_instruction_form">Add Instruction</button>
        <button class="btn btn-outline-info" type="button" id="remove_instruction_form">Remove Instruction</button>
      </div>
    </fieldset>
    <legend class="border-bottom mb-4"></legend>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Create Drink</button>
    </div>
  </form>
</div>

<script>
  $('#add_ingredient_form').click(function() {
    cloneMore('div.ingredient-form:last', 'ingredient')
  });
  $('#add_instruction_form').click(function() {
    console.log('whats happening')
    cloneMore('div.instruction-form:last', 'instruction')
  });
  $('#remove_instruction_form').click(function() {
    console.log('hit here')
    // deleteForm('instruction', $(this))
    var total = parseInt($('#id_' + 'instruction' + '-TOTAL_FORMS').val());
    console.log('var total = ' + total)

    if (total > 1) {
      $('.instruction-form').first().remove()

      var forms = $('.instruction-form');
      $('#id_' + 'instruction' + '-TOTAL_FORMS').val(forms.length);

      console.log('length = ' + forms.length)

      for (var i = 0; i < forms.length; i++) {
        $(forms.get(i)).find(':input').each(function() {
          console.log('index = ' + i)

          var id_regex = new RegExp('(' + 'instruction' + '-\\d+)');
          var replacement = 'instruction' + '-' + i;
          console.log('id_regex = ' + id_regex)
          console.log('replacement = ' + replacement)
          if ($(this).attr("for")) {
            $(this).attr("for", $(el).attr("for").replace(id_regex, replacement));
          }

          if (this.id) {
            this.id = this.id.replace(id_regex, replacement);
          }

          if (this.name) {
            this.name = this.name.replace(id_regex, replacement);
          }
        });
      }
    }
  });
  $('#remove_ingredient_form').click(function() {
    var total = parseInt($('#id_' + 'ingredient' + '-TOTAL_FORMS').val());
    console.log('var total = ' + total)

    if (total > 1) {
      $('.ingredient-form').first().remove()

      var forms = $('.ingredient-form');
      $('#id_' + 'ingredient' + '-TOTAL_FORMS').val(forms.length);

      console.log('length = ' + forms.length)

      for (var i = 0; i < forms.length; i++) {
        $(forms.get(i)).find(':input').each(function() {
          console.log('index = ' + i)

          var id_regex = new RegExp('(' + 'ingredient' + '-\\d+)');
          var replacement = 'ingredient' + '-' + i;
          console.log('id_regex = ' + id_regex)
          console.log('replacement = ' + replacement)
          if ($(this).attr("for")) {
            $(this).attr("for", $(el).attr("for").replace(id_regex, replacement));
          }

          if (this.id) {
            this.id = this.id.replace(id_regex, replacement);
          }

          if (this.name) {
            this.name = this.name.replace(id_regex, replacement);
          }
        });
      }
    }
  })
</script>
{% endblock profile_content %}