{% extends 'gnt/profile_base.html' %}
{% load crispy_forms_tags %}
{% block profile_content %}
<div class="content-section">
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Create a Drink</legend>
      <legend>Drink Name & Description</legend>
      {{ create_user_drink_form | crispy }}
      <legend>Ingredients</legend>
      {{ ingredient_formset.management_form }}
      {% for ingredient_form in ingredient_formset %}
      <div class="row form-row">
        <div class="col-lg-3">
          <label>Name</label>
          {{ ingredient_form.name }}
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-3">
          <label>Quantity</label>
          {{ ingredient_form.quantity }}
        </div>
      </div>
      {% endfor %}
      <div class="row ingredient">
        <button class="btn btn-outline-info add-form-row">Add Ingredient</button>
      </div>
    </fieldset>
    <legend class="border-bottom mb-4"></legend>
    <div class="form-group">
      <button class="btn btn-outline-info" type="submit">Create Drink</button>
    </div>
  </form>
</div>
{% endblock profile_content %}