{% extends 'gnt/base.html' %} {% load static %}
{% block 'content' %}
{% load static %}

<div class="content-section">
  <div class="row">
    <div class="col-lg-12">
      <div class="article-title">
        <h1>Proposals</h1>
      </div>
    </div>
  </div>
  <div class="row" style="text-align: center;">
    <div style="margin: auto;">
    The Proposals tab is where we give our users control over permanently stored content.<br/>
    If a drink receives a score of {{up_thresh}} we'll save it and make it searchable by all users.<br/>
    If a drink receives a score of {{down_thresh}} we'll delete it.<br/>
    To create a drink recipe, go the the profile tab and select 'create drink'!
  </div>
  </div>
  <div class="row" style="text-align: center; padding: 20px;">
    <div class="switchToggle" style="margin: auto;">
      <input type="checkbox" id="switch">
      <label id="switchsorter" val="pop" for="switch">Toggle</label>
    </div>
  </div>
  <div class="row" id="ProposalContent">
    <div class="col-12">
      {% for drink in drinks %}
      <article class="media content-section" id="drink{{drink.id}}">
        <img class="rounded-circle article-img" src="{{ drink.user.profile.image.url }}">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'timeline' username=drink.user %}">{{ drink.user }}</a>
            <small class="text-muted">{{ drink.timestamp | date:"F d, Y g:i" }}</small>
          </div>
          <div class="row">
            <div class="col-lg-8 col-md-7 col-6">
              <h2 class="article-title">{{ drink.name }}</h2>
              <p class="article-content">{{ drink.description }}</p>
            </div>
            <div class="col-lg-2 col-md-3 col-4" style="text-align: right;">
              <img src="{{ drink.image.url }}" width="90%" style="margin-left: auto;" />
            </div>
            <div class="col-2" style="text-align: center;">
              <a class="upvote" id="{{drink.id}}" drinkid="{{drink.id}}" user="{{user}}">
                <img class="voting_buttons" id="blank_thumbsup" src="{% static 'images/thumbsup.png' %}" alt="thumbs up"
                  width="30em" />
                <img class="voting_buttons" id="filled_thumbsup" src="{% static 'images/thumbsup_liked.png' %}"
                  alt="thumbs up liked" width="30em" />
              </a>
              <div id="drink{{drink.id}}_votes">{{drink.votes}}</div>
              <a class="downvote" id="{{drink.id}}" drinkid="{{drink.id}}" user="{{user}}">
                <img class="voting_buttons" id="blank_thumbsdown" src="{% static 'images/thumbsdown.png' %}"
                  alt="thumbs down" width="30em" />
                <img class="voting_buttons" id="filled_thumbsdown" src="{% static 'images/thumbsdown_disliked.png' %}"
                  alt="thumbs down disliked" width="30em" />
              </a>
            </div>
            <div class="col-12">
              <p class="article-content">Ingredients</p>
              {% for ingredient in drink.ingredient_set.all %}
              <ul>
                <li class="ingredient">{{ ingredient.name }} - {{ ingredient.quantity }}</li>
              </ul>
              {% endfor %}
              <p class="article-content">Instructions</p>
              {% for instruction in drink.instruction_set.all %}
              <ul>
                <li class="instruction">{{ instruction.instruction }}</li>
              </ul>
              {% endfor %}
            </div>
          </div>
        </div>
      </article>

      {% endfor %}
    </div>
  </div>
  <div class="load-more">
    <button id="load_more" class="btn btn-outline-info" type="button">Load more</button>
  </div>
</div>
<div id="drinkDeletedModal" class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body" id="modalMessage">

      </div>
      <div class="modal-footer d-flex justify-content-around">

        <div class="col">
          <input id="modalAcknowledge" type="submit" value="Awesome!" class="btn btn-outline-success btn-block">
        </div>

      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="{% static 'scripts/proposals.js' %}"></script>
{% endblock 'content' %}